{% extends 'web_app/base.html' %}

{% block content %}

<div class="container">
    <h2>TM Models</h2>
    <table class="tg">
      <tr>
        <th class="tg-baqh">Model</th>
        <th class="tg-baqh">Plan</th>
        <th class="tg-baqh">Sq Feet</th>
        <th class="tg-baqh">Floors</th>
        <th class="tg-baqh">Summary</th>
        <th class="tg-baqh">Price Range</th>
      </tr>
      <tr>
        <td class="tg-baqh">Bedford</td>
        <td class="tg-baqh">4523</td>
        <td class="tg-baqh">2153</td>
        <th class="tg-baqh">1</th>
        <td class="tg-baqh">4 Bed, 2.5 Bath, 3 Car Tandem</td>
        <td class="tg-baqh">$321 - $327</td>
      </tr>
      <tr>
        <td class="tg-baqh">Albany</td>
        <td class="tg-baqh">4547</td>
        <td class="tg-baqh">2198</td>
        <th class="tg-baqh">1</th>
        <td class="tg-baqh">4 Bed, 3 Bath, 3 Car Tandem</td>
        <td class="tg-baqh">$321 - $329</td>
      </tr>
      <tr>
        <td class="tg-baqh">Hillary</td>
        <td class="tg-baqh">4591</td>
        <td class="tg-baqh">2317</td>
        <th class="tg-baqh">1</th>
        <td class="tg-baqh">3 Bed, Den, 2.5 Bath, 3 Car Tandem</td>
        <td class="tg-baqh">$326 - $331</td>
      </tr>
      <tr>
        <td class="tg-baqh">Adelaide</td>
        <td class="tg-baqh">5079</td>
        <td class="tg-baqh">2478</td>
        <th class="tg-baqh">1</th>
        <td class="tg-baqh">4 Bed, Den, 3 Bath, 3 Car Split</td>
        <td class="tg-baqh">$332 - $338</td>
      </tr>
      <tr>
        <td class="tg-baqh">Bradshaw</td>
        <td class="tg-baqh">5081</td>
        <td class="tg-baqh">2604</td>
        <th class="tg-baqh">1</th>
        <td class="tg-baqh">4 Bed, 2.5 Bath, 4 Car Tandem</td>
        <td class="tg-baqh">$341 - $345</td>
      </tr>
      <tr>
        <td class="tg-baqh">Revere</td>
        <td class="tg-baqh">4520</td>
        <td class="tg-baqh">3188</td>
        <th class="tg-baqh">2</th>
        <td class="tg-baqh">4 Bed, Den, 3.5 Bath, 3 Car Split</td>
        <td class="tg-baqh">$373 - $381</td>
      </tr>
      <tr>
        <td class="tg-baqh">Cottonwood</td>
        <td class="tg-baqh">5014</td>
        <td class="tg-baqh">3659</td>
        <th class="tg-baqh">2</th>
        <td class="tg-baqh">5 Bed, 3.5 Bath, 3 Car Tandem</td>
        <td class="tg-baqh">$385 - $390</td>
      </tr>
      <tr>
        <td class="tg-baqh">Powell</td>
        <td class="tg-baqh">5092</td>
        <td class="tg-baqh">3958</td>
        <th class="tg-baqh">2</th>
        <td class="tg-baqh">5 Bed, Den, 3.5 Bath, 3 Car Tandem</td>
        <td class="tg-baqh">$403 - $411</td>
      </tr>
    </table>

  </div>
  {% endblock content %}
    